In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('HousingData.csv')

In [3]:
df

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,NaN,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,NaN,22.4
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0.0,0.573,6.030,NaN,2.5050,1,273,21.0,396.90,7.88,11.9

In [4]:
df.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
count,486.000000,486.000000,486.000000,486.000000,506.000000,506.000000,486.000000,506.000000,506.000000,506.000000,506.000000,506.000000,486.000000,506.000000
mean,3.611874,11.211934,11.083992,0.069959,0.554695,6.284634,68.518519,3.795043,9.549407,408.237154,18.455534,356.674032,12.715432,22.532806
std,8.720192,23.388876,6.835896,0.255340,0.115878,0.702617,27.999513,2.105710,8.707259,168.537116,2.164946,91.294864,7.155871,9.197104
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000,5.000000
25%,0.081900,0.000000,5.190000,0.000000,0.449000,5.885500,45.175000,2.100175,4.000000,279.000000,17.400000,375.377500,7.125000,17.025000
50%,0.253715,0.000000,9.690000,0.000000,0.538000,6.208500,76.800000,3.207450,5.000000,330.000000,19.050000,391.440000,11.430000,21.200000
75%,3.560263,12.500000,18.100000,0.000000,0.624000,6.623500,93.975000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000,25.000000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000,50.000000

In [5]:
df.isnull()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,False,False,False,False,False,False,False,False,False,False,False,False,True,False
502,False,False,False,False,False,False,False,False,False,False,False,False,False,False
503,False,False,False,False,False,False,False,False,False,False,False,False,False,False
504,False,False,False,False,False,False,False,False,False,False,False,False,False,False
505,False,False,False,False,False,False,True,False,False,False,False,False,False,False

In [6]:
df.isnull().sum()

CRIM       20
ZN         20
INDUS      20
CHAS       20
NOX         0
RM          0
AGE        20
DIS         0
RAD         0
TAX         0
PTRATIO     0
B           0
LSTAT      20
MEDV        0
dtype: int64

In [18]:
df['CRIM'].fillna(method='ffill',inplace=True)
df['ZN'].replace(method='ffill',inplace=True)
df['INDUS'].replace(method='ffill',inplace=True)
df['CHAS'].replace(method='ffill',inplace=True)
df['AGE'].replace(method='ffill',inplace=True)
df['LSTAT'].replace(method='ffill',inplace=True)

In [19]:
df

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,2.94,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,14.33,22.4
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0.0,0.573,6.030,89.3,2.5050,1,273,21.0,396.90,7.88,11.9

In [20]:
df.isnull().sum()

CRIM       0
ZN         0
INDUS      0
CHAS       0
NOX        0
RM         0
AGE        0
DIS        0
RAD        0
TAX        0
PTRATIO    0
B          0
LSTAT      0
MEDV       0
dtype: int64

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     506 non-null    float64
 1   ZN       506 non-null    float64
 2   INDUS    506 non-null    float64
 3   CHAS     506 non-null    float64
 4   NOX      506 non-null    float64
 5   RM       506 non-null    float64
 6   AGE      506 non-null    float64
 7   DIS      506 non-null    float64
 8   RAD      506 non-null    int64
 9   TAX      506 non-null    int64
 10  PTRATIO  506 non-null    float64
 11  B        506 non-null    float64
 12  LSTAT    506 non-null    float64
 13  MEDV     506 non-null    float64
dtypes: float64(12), int64(2)
memory usage: 55.5 KB

In [24]:
x=df.iloc[:,0:13]
y = df.iloc[:,-1]

In [25]:
x

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,2.94
...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,14.33
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48
505,0.04741,0.0,11.93,0.0,0.573,6.030,89.3,2.5050,1,273,21.0,396.90,7.88

In [26]:
y

0      24.0
1      21.6
2      34.7
3      33.4
4      36.2
       ...
501    22.4
502    20.6
503    23.9
504    22.0
505    11.9
Name: MEDV, Length: 506, dtype: float64

In [27]:
from sklearn.model_selection import train_test_split

In [28]:
X_train,X_test, Y_train,Y_test = train_test_split(x,y,test_size=0.20,random_state=42)

In [30]:
print(X_train.shape)
print(X_test.shape)
print(X_train.shape)
print(Y_test.shape)

(404, 13)
(102, 13)
(404, 13)
(102,)

In [31]:
from sklearn.preprocessing import StandardScaler

In [32]:
sc = StandardScaler()

In [33]:
sc.fit_transform(X_train,X_test)

array([[ 1.28698196, -0.49744613,  1.03323679, ...,  0.84534281,
        -0.07433689,  1.74560225],
       [-0.33697549, -0.49744613, -0.41315956, ...,  1.20474139,
         0.4301838 , -0.56806803],
       [-0.40383904,  0.98430829, -0.71521823, ..., -0.63717631,
         0.06529747, -0.65813792],
       ...,
       [-0.40605568,  2.88942112, -1.30336132, ..., -0.59225149,
         0.37901005, -0.91708885],
       [ 0.85121207, -0.49744613,  1.03323679, ...,  0.84534281,
        -2.69458597,  1.51479815],
       [-0.38194338, -0.49744613, -0.35216694, ...,  1.15981657,
        -3.12158061, -0.26408216]])

In [35]:
from sklearn.linear_model import LinearRegression

In [36]:
lr = LinearRegression()

In [37]:
lr.fit(X_train,Y_train)

LinearRegression()

In [38]:
predict = lr.predict(X_test)
predict

array([ 2.90322429e+01,  3.61397983e+01,  1.48264605e+01,  2.50645132e+01,
        1.88091113e+01,  2.32768145e+01,  1.78182968e+01,  1.44102718e+01,
        2.29790359e+01,  2.07252224e+01,  2.51776654e+01,  1.87323868e+01,
       -6.03683836e+00,  2.18223730e+01,  1.92593230e+01,  2.48700237e+01,
        2.04862912e+01,  5.96007140e+00,  4.03880163e+01,  1.76240914e+01,
        2.40975664e+01,  3.00233934e+01,  1.14722245e+01,  2.18231619e+01,
        1.78546944e+01,  1.58475907e+01,  2.12353454e+01,  1.45971455e+01,
        2.27013406e+01,  1.92985136e+01,  2.25777578e+01,  2.52252362e+01,
        2.58314363e+01,  1.76226467e+01,  1.68604493e+01,  1.69680518e+01,
        3.11916222e+01,  2.01752410e+01,  2.40577151e+01,  2.56963591e+01,
        1.41472026e+01,  3.21948937e+01,  4.24738639e+01,  1.74433408e+01,
        2.73668433e+01,  1.70045300e+01,  1.41351451e+01,  2.59610183e+01,
        2.03286644e+01,  2.99856122e+01,  2.13320349e+01,  3.41353341e+01,
        1.61289706e+01,  2.62243945e+01,  3.95706342e+01,  2.25883903e+01,
        1.88562965e+01,  3.24933576e+01,  2.51574531e+01,  1.29601536e+01,
        2.26556644e+01,  3.02827259e+01,  3.16174357e+01,  1.59832660e+01,
        2.01332967e+01,  1.70431577e+01,  2.05299350e+01,  2.59567044e+01,
        3.04664600e+01,  1.16582676e+01,  2.06672694e+01,  2.73921561e+01,
        1.10984165e+01,  1.54565468e+01,  2.38486753e+01,  6.21829213e+00,
        2.16337285e+01,  4.12251270e+01,  1.87900356e+01,  8.97632766e+00,
        2.08898534e+01,  1.34074252e+01,  2.06619784e+01,  9.47675425e+00,
        2.32262506e+01,  3.21728049e+01,  1.88941027e+01,  2.55273297e+01,
        2.89189383e+01,  2.00515275e+01,  2.57419029e+01,  5.74853217e+00,
        1.99568000e+01,  1.50830781e+01,  1.23715400e+01,  2.05733968e+01,
        2.46193375e+01,  1.52433816e-02,  1.36681384e+01,  1.62072597e+01,
        2.24230974e+01,  2.45127723e+01])

In [41]:

from sklearn.metrics import mean_squared_error

In [43]:
import numpy as np

In [44]:
rmse = np.sqrt(mean_squared_error(Y_test,predict))

In [45]:
rmse

4.940912803861218

In [46]:
lr.score(X_train,Y_train)

0.7476967452849607

In [47]:
lr.score(X_test,Y_test)

0.6671026874204944